
.dropdown__options {
    padding: 2rem 1rem;
    margin-top: 1rem;
    background-color: white;
    position: absolute;
    top: 100%;
    z-index: 100;
    background-color: var(--color-grey-light-1);
    min-width: 20rem;
    max-height: 30rem;
    overflow: scroll;
}


.dropdown__option {
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem;

}

.dropdown__option:first-child {
    margin-top: 0;

}

.dropdown__option:hover {
    background-color: var(--color-grey-light-3);
}

